
.icon-leaf:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-up-big:before { content: '\e803'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-female:before { content: '\f182'; } /* '' */
.icon-pagelines:before { content: '\f18c'; } /* '' */
.icon-wechat:before { content: '\f1d7'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-facebook-official:before { content: '\f230'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */