* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.carousel-container {
    width: 60%;
    margin: auto;
    overflow: hidden;
    border: 5px solid black;
}

.carousel-slide{
    display: flex;
    width: 100%;
}

img {
    max-width: 100%;
}
