* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.carousel-container {
    width: 60%;
    margin: auto;
    overflow: hidden;
    border: 5px solid black;
}

.carousel-slide{
    display: flex;
    width: 100%;
    position: relative;
}

img {
    max-width: 100%;
}

button{
 padding: 10px;
}

#prev-button{
    position: absolute;
    top: 45%;
    left: 20%;
}

#next-button{
    position: absolute;
    top: 45%;
    right: 20%;
}

h1{
    text-align: center;
    padding: 20px;
}