*{
  box-sizing: border-box;
}

body{
    background-color: #ccebe8;
}

.title{
    display: block;
    margin: 30px auto;
    text-align: center;
}

h2{
    display: block;
    margin: 30px auto;
    text-align: center;
}

section{
    background-color: #ffffff;
    border-radius: 20px;
}

.memory-game{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    justify-items: center;
    margin: 50px 300px;
    }


.memory-card{
    margin: 15px;
    width: 70px;
    height: 70px;
    border: 5px solid #0e9e90;
}

.front-card{
    width: 70px;
    height: 70px;
}

.smile{
    background-image: url(./img/1.png);
    background-position: center;
    background-size: contain;
}

.fish{
    background-image: url(./img/2.png);
    background-position: center;
    background-size: contain;

}

.heart{
    background-image: url(./img/3.png);
    background-position: center;
    background-size: contain;
}

.home{
    background-image: url(./img/4.png);
    background-position: center;
    background-size: contain;
}

.leaf{
    background-image: url(./img/5.png);
    background-position: center;
    background-size: contain;
}

.music{
    background-image: url(./img/6.png);
    background-position: center;
    background-size: contain;
}

.figure{
    background-image: url(./img/7.png);
    background-position: center;
    background-size: contain;
}

.sun{
    background-image: url(./img/8.png);
    background-position: center;
    background-size: contain;
}

.back-card{
    width: 70px;
    height: 70px;
    background-color: beige;
    background-image: none;
}