.memory-card{
    width: 150px;
    height: 150px;
    border: 10px solid black;
}

.front-card{
    width: 100%;
    height: 100%;
    background-image: url(./img/2.png);
    background-position: center;
    background-size: contain;
}

.back-card{
    width: 100%;
    height: 100%;
    background-image: url(./img/9.png);
    background-position: center;
    background-size: contain;
}

.fish{
    
}
